@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {

  /* Font */
  --ff: 'Manrope', sans-serif;
  --fs: 13px;
  --fw-medium: 500;
  --fw-bold: 700;

  /* Colors */
  --color-very-dark-grayish-blue: hsl(217, 19%, 35%);
  --color-desaturated-dark-blue: hsl(214, 17%, 51%);
  --color-grayish-blue: hsl(212, 23%, 69%);
  --color-light-grayish-blue: hsl(210, 46%, 95%);

  /* Layout */
  --mobile: 375px;
  --desktop: 1440px;

}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--fs);
}

body {
  font-family: var(--ff);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color: var(--color-light-grayish-blue);
  color: var(--color-very-dark-grayish-blue);
}

main {
  max-width: 375px;
}

.container {
  max-width: 25.3rem;
  background-color: white;
  border-radius: 0.7rem;
  padding-bottom: 1.7rem;
}

.title {
  margin: 5.5rem 0 2.93rem 0;
  position: relative;
  height: 15.4rem;
  width: 25.3rem;
  border-radius: 0.7rem 0.7rem 0 0;
  overflow: hidden;
}

.title img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

h1 {
  font-size: 1.2rem;
  font-weight: var(--fw-bold);
  line-height: 1.84rem;
  letter-spacing: 0.03rem;
  padding: 0 2.5rem;
  margin-bottom: 1.0rem;
}

.info {
  line-height: 1.51rem;
  letter-spacing: 0.01rem;
  padding: 0 2.6rem 0 2.5rem;
  margin-bottom: 2.6rem;
}

.person {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5rem 0 2.5rem;
}

.person__img {
  position: relative;
  width: 3rem;
  height: 3em;
  border-radius: 50%;
  overflow: hidden;
}

.person__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.person__content {
  margin-right: 3.5rem;
}

.person__content-title {
  font-weight: var(--fw-bold);
}

.person__share {
  width: 2.5rem;
  height: 2.5em;
  border-radius: 50%;
  background-color: var(--color-light-grayish-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 100;
}

.person__share:hover {
  background: var(--color-desaturated-dark-blue);
}

.person__share:hover svg {
  fill: white;
}

svg {
  fill: var(--color-desaturated-dark-blue);
}

.person__share {
  position: relative;
}

.container__right {
  position: relative;
}

.popUp {
  position: absolute;
  color: var(--color-desaturated-dark-blue);
  background-color: var(--color-very-dark-grayish-blue);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10rem 0 2rem;
  bottom: -1.8rem;
  border-radius: 0 0 0.8rem 0.8rem;
  width: 100%;
  display: none;
}

.popUp__title {
  letter-spacing: 0.3rem;
  line-height: 6.5rem;
}

.popUp__social {
  width: 7rem;
  display: flex;
  justify-content: space-between;
}

.popUp__social a {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pop_up {
  animation: up .5s ease;
}

@keyframes up {
  from {
    top: 100%;
  }

  to {
    top: 76%;
  }
}

.pop_down {
  animation: down .5s ease forwards;
}

@keyframes down {
  from {
    top: 76%;
  }

  to {
    top: 100%;
  }
}

footer {
  margin: 0.5rem 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 376px) {
  main {
    max-width: 1440px;
  }

  .container {
    min-width: 56rem;
    margin-top: 20rem;
    padding-bottom: 0;
    display: flex;
  }

  .title {
    margin: 0;
    position: relative;
    height: 100%;
    width: 21.8rem;
    border-radius: 0.7rem 0 0 0.7rem;
    overflow: hidden;
  }

  .title img {
    object-fit: cover;
  }

  h1 {
    font-size: 1.5rem;
    line-height: 2.15rem;
    letter-spacing: 0.04rem;
    padding: 0 3rem;
    margin-top: 2.5rem;
    margin-bottom: 1.0rem;
  }

  .info {
    line-height: 1.51rem;
    letter-spacing: 0.01rem;
    padding: 0 2.6rem 0 3rem;
    margin-bottom: 1.5rem;
  }

  .person {
    padding: 0 3rem 0 3.2rem;
    margin-bottom: 2.6rem;
  }

  .person__content {
    margin-right: 11.2rem;
  }

  .person__content-title {
    margin-bottom: 0.1rem;
  }

  .person__share {
    position: relative;
  }

  .popUp {
    padding: 0;
    justify-content: center;
    width: 55.5%;
    border-radius: 0.8rem;
    bottom: 7.5rem;
    left: 20.5rem;
  }

  .popUp__title {
    letter-spacing: 0.3rem;
    line-height: 4.2rem;
    margin-right: 1.5rem;
  }

  .popUp__social {
    width: 7rem;
    display: flex;
    justify-content: space-between;
  }

  .popUp__social a {
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .popUp::after {
    position: absolute;
    top: 4.0rem;
    content: '';
    width: 0;
    height: 0;
    border-left: 1.1rem solid transparent;
    border-right: 1.1rem solid transparent;
    border-top: 1.1rem solid var(--color-very-dark-grayish-blue);
  }

  .pop_up {
    animation: up .5s ease;
  }

  @keyframes up {
    from {
      width: 0%;
    }

    to {
      width: 55.5%;
    }
  }

  .pop_down {
    animation: down .5s ease forwards;
  }

  @keyframes down {
    from {
      width: 55.5%;
    }

    to {
      width: 0%;
    }
  }

  .title {
    flex: 0 0 50%;
    text-align: right;
    padding-right: 1rem;
    letter-spacing: 0.3rem;
  }

  .social {
    flex: 0 0 50%;
    display: flex;
    justify-content: space-between;
    padding: 0 3rem 0 0;
  }

}